<header>
    <div id="header-logo">
        <h2>Meu Diário</h2>
        <h2>SENAC</h2>
    </div>
    <div id="header-titulo">
        <p>Registre seus pensamentos</p>
        <p>e anotações</p>
    </div>
    <div id="header-avatar">
        <button id="avatar-clicavel"></button>
        <div id="avatar-nome-menu">
            <h3>Nome do Usuário</h3>
            <a href="javascript:void(0)">Editar perfil</a>
        </div>
    </div>
</header>
<main>
    <h2>Registros</h2>
    <div id="registros-container" *ngFor="let registroOrigem of registrosOrigem">
        <app-card-registro [registroDestino]="registroOrigem"></app-card-registro>
    </div>
    <button id="adicionar-registro">
        <span>+</span>
    </button>
</main>
